@font-face {
    font-family: Helvetica;
    src: local("Helvetica"), url("./assets/fonts/HelveticaNeue.ttc");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

:root {
    --primary: #f93b1d;
    --secondary: #2e2e2e;
    --heading: #1a1a1a;
    --label: #000;
    --placeholder: rgba(0, 0, 0, 0.6);
    --border: #bcbcbc;
    --success: #98e37e;
    --error: #ef5050;
    --home-button: #1c1c1c;
    --more-button: #62a1eb;
    --upload-button: #0e80bf;
    --navigation-button: #6b40e3;
    --header-border: #f93b1d;
    --form-bg: #f9f9f9;
}
